<?php

/**
 * \DateTime : $this->date
 * ResultSet : $this->records
 */

$title = sprintf('Logs for %s', $this->date->format("l jS F Y"));
$this->headTitle($title);

$y = clone($this->date);
$y->sub(new \DateInterval('P1D'));
$t = clone($this->date);
$t->add(new \DateInterval('P1D'));
$tomorrow = $this->url('netglue_log/by-day', array(
	'year' => $t->format("Y"),
	'month' => $t->format("n"),
	'day' => $t->format("j"),
));
$yesterday = $this->url('netglue_log/by-day', array(
	'year' => $y->format("Y"),
	'month' => $y->format("n"),
	'day' => $y->format("j"),
));
$p1w = clone($this->date);
$p1w->add(new\DateInterval('P7D'));
$s1w = clone($this->date);
$s1w->sub(new\DateInterval('P7D'));
$nextWeek = $this->url('netglue_log/by-day', array(
	'year' => $p1w->format("Y"),
	'month' => $p1w->format("n"),
	'day' => $p1w->format("j"),
));
$lastWeek = $this->url('netglue_log/by-day', array(
	'year' => $s1w->format("Y"),
	'month' => $s1w->format("n"),
	'day' => $s1w->format("j"),
));

?>

<div class="container">

<div class="page-header">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
</div>

<?php echo $this->partial('netglue-log/log/_flash.phtml'); ?>

<div class="row">
	
	<div class="btn-group span4 offset4">
		<a class="btn" href="<?php echo $lastWeek; ?>">-1 week</a>
		<a class="btn" href="<?php echo $yesterday; ?>">-1 day</a>
		<a class="btn btn-primary" href="<?php echo $this->url('netglue_log/by-day'); ?>">Today</a>
		<a class="btn" href="<?php echo $tomorrow; ?>">+1 day</a>
		<a class="btn" href="<?php echo $nextWeek; ?>">+1 week</a>
	</div>
	
</div>



<?php echo $this->partial('netglue-log/log/log-table.phtml', array('records' => $this->records)); ?>
</div>